.about-container {
  width: 80%;
  background-color: var(--secondaryColor);
  color: white;
  margin: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
}

p {
  width: 50%;
  margin: 30px;
}

.about-container div {
  width: 50%;
  background-color: rgb(90, 90, 255);
  border-radius: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}