main {
  display: flex;
  align-items: center;
  height: 100%;
}

.about-container {
  min-height: 200px;
  width: 80%;
  background-color: var(--secondaryColor);
  color: white;
  margin: 30px auto 30px auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  justify-content: space-between;
}

p {
  width: 50%;
}

.about-container div {
  width: 40%;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding-left: 0;
}

@media only screen and (max-width: 550px) {
  .about-container {
    flex-direction: column;
    padding: 10px;
  }
  .about-container p {
    font-size: 14px;
    width: 100%;
  }
  .about-container div {
    width: 100%;
    margin-top: 20px;
  }
}