@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

h2 {
  margin: 30px;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.fullscreen-randomizer {
  position: fixed;
  z-index: 15;
  margin: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0;
  touch-action: manipulation;
  font-family: Nunito;
  background: linear-gradient(135deg, #1099bb, #2c2e83);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hide {
  display: none;
}

.highlight {
  font-weight: 900;
  color: black;
}

.randomizer-container {
  text-align: left;
  border: 1px solid black;
  border-radius: 5px;
  width: 70%;
  margin: 30px auto;
  padding: 0;
  touch-action: manipulation;
  font-family: Nunito;
  background: linear-gradient(135deg, #1099bb, #2c2e83);
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  position: absolute;
  left: 50%;
  width: 70%;
}

.top-img-container {
  display: flex;
  justify-content: space-between;
}

.top-img-container img {
  width: 40px;
  margin: 30px;
  z-index: 2;
}

.dice-img-hide {
  display: none;
}

.dice-img-show {
  display: flex;
}

#randomizer-container h2 {
  left: -50%;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  color: white;
  width: 100%;
}

#what-to-randomize-menu-container {
  display: none;
  position: absolute;
  padding: 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: lighter;
  color: #505050;
  box-sizing: border-box;
  margin-top: 15%;
}

#what-to-randomize-menu-container:hover {
  cursor: default;
}

#what-to-randomize-menu-container ul li {
  list-style: none;
}

.result {
  width: 60%;
  height: 330px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 100px;
}

.result:hover {
  cursor: default;
}

.result img {
  width: 20%;
  border: 3px solid black;
  border-radius: 15%;
}

#randomizer-settings {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 40px;
  margin: 0 auto 10px auto;
  width: 100%;
}

#slider, #slider:focus {
  -webkit-appearance: none;
  width: 50%;
  height: 10px;
  opacity: 0.5;
  border-radius: 10px;
  outline: none;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  background: rgb(16, 34, 133);
  cursor: pointer;
  border-radius: 50%;
}

#slider-value {
  color: white;
}

.randomizer-button-container {
  text-align: center;
  margin-bottom: 30px;
}

#randomizer-button {
  width: 30%;
  border: none;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  font-size: 17px;
  font-family: Nunito;
  background-color: rgba(255, 255, 255, 0.5);
}

#randomizer-button, #randomizer-button:focus, #randomizer-button:active {
  outline: none;
}

.description {
  width: 70%;
  display: flex;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  margin: 50px auto;
  color: white;
  text-align: left;
  position: relative;
}

.description h3 {
  margin-bottom: 15px;
}

.mainDescription, .otherDescription {
  padding: 20px;
  list-style: none;
  box-sizing: border-box;
}

.mainDescription {
  width: 60%;
  border-right: 1px solid;
}

.otherDescription {
  width: 40%;
  height: 100%;
}

.otherDescription li {
  list-style: none;
}

.madeWith {
  padding: 20px;
  height: 100%;
}

.otherInfo {
  padding: 20px;
  height: 100%;
}

@media only screen and (max-width: 850px) {
  #randomizer-container .header-container h2 {
    font-size: 18px;
    margin-top: 20px;
  }
  .top-img-container img {
    width: 30px;
    margin: 20px;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 16px;
  }
  .result {
    font-size: 70px;
  }
}

@media only screen and (max-width: 675px) {
  .header-container {
    font-size: 13px;
  }
  .top-img-container img {
    width: 25px;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 620px) {
  .description {
    flex-direction: column;
    padding: 10px;
  }
  .mainDescription {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid;
    padding: 20px;
  }
  .otherDescription {
    width: 100%;
    padding: 0;
  }
  #randomizer-container .header-container h2 {
    font-size: 17px;
    margin-top: 18px;
  }
  .top-img-container img {
    width: 25px;
    margin: 18px;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 13px;
  }
  .result {
    font-size: 65px;
  }
}

@media only screen and (max-width: 550px) {
  #randomizer-container .header-container h2 {
    font-size: 16px;
    margin-top: 18px;
  }
  .top-img-container img {
    width: 23px;
    margin: 18px;
  }
  #what-to-randomize-menu-container {
    width: 100%;
    padding: 12px;
    border-radius: 0;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 12px;
  }
  .result {
    font-size: 55px;
    height: 250px;
  }
}

@media only screen and (max-width: 500px) {
  #randomizer-container .header-container h2 {
    font-size: 14px;
    margin-top: 16px;
  }
  .top-img-container img {
    width: 20px;
    margin: 16px;
  }
  #what-to-randomize-menu-container {
    width: 100%;
    padding: 11px;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 11px;
  }
  .result {
    font-size: 50px;
    height: 225px;
  }
  #randomizer-button {
    font-size: 15px;
    padding: 6px;
  }
}

@media only screen and (max-width: 440px) {
  #randomizer-container .header-container h2 {
    font-size: 12px;
    margin-top: 14px;
  }
  .top-img-container img {
    width: 17px;
    margin: 14px;
  }
  #what-to-randomize-menu-container {
    width: 100%;
    padding: 10px;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 10px;
  }
  .result {
    font-size: 45px;
    height: 220px;
  }
  #randomizer-button {
    font-size: 12px;
    padding: 5px;
  }
}

@media only screen and (max-width: 360px) {
  #randomizer-container .header-container h2 {
    font-size: 10px;
    margin-top: 12px;
  }
  .top-img-container img {
    width: 13px;
    margin: 12px;
  }
  #what-to-randomize-menu-container {
    width: 100%;
    padding: 8px;
  }
  #what-to-randomize-menu-container ul li {
    font-size: 8px;
  }
  .result {
    font-size: 30px;
    height: 200px;
  }
  #randomizer-button {
    font-size: 10px;
    padding: 5px;
  }
}