.news-post {
  width: 70%;
  background-color: var(--secondaryColor);
  color: white;
  margin: 20px auto 20px auto;
  padding: 30px;
  border-radius: 5px;
}

.news-post p {
  margin: 15px auto 15px auto;
}

.news-post a {
  color: white;
}

.news-post a:visited {
  color: white;
}

.news-post a:hover {
  color: rgb(200, 200, 255);
  text-decoration: underline;
}