html {
  --primary-color: white;
  --secondary-color: rgb(55, 76, 194);
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

p,
li {
  line-height: 1.5rem;
}

a,
a:visited {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(200, 200, 255);
}

button {
  font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  outline: none;
}

button:focus {
  outline: none;
}

.darkMode {
  --primary-color: #393e46;
  --secondary-color: #222831;
  border-color: white;
  color: white;
  ::selection {
    background-color: rgb(255, 160, 160);
  }

  a,
  a:visited {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: red;
  }
}
