html {
  --primary-color: white;
  --secondary-color: rgb(55, 76, 194);
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: rgb(225, 225, 255);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(55, 76, 194, 0.5);
  border-radius: 6px;
  border: 3px solid white;
}

body::-webkit-scrollbar-thumb:active {
  background-color: rgba(55, 76, 194, 0.85);
}

// Inline code
code {
  display: inline;
  overflow-x: auto;
  color: #abb2bf;
  background: #323640;
  border-radius: 5px;
  padding: 4px;
  margin: 0px 2px;
}

// Code blocks
pre code {
  display: block;
  overflow-x: auto;
  color: #abb2bf;
  background: #323640;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  margin: 15px auto;
}

i {
  color: white;
}

p,
li {
  line-height: 1.5rem;
}

a,
a:visited {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color: white;
}

a:hover {
  color: rgb(200, 200, 255);
}

button {
  font-family: Nunito, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: none;
  outline: none;
}

button:focus {
  border: none;
  outline: none;
}

.darkMode {
  --primary-color: rgb(57, 62, 70);
  --secondary-color: rgb(34, 40, 49);
  border-color: white;
  color: white;
  ::selection {
    background-color: rgb(255, 160, 160);
  }

  a,
  a:visited {
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: red;
  }
}

body.darkMode::-webkit-scrollbar {
  width: 12px;
}

body.darkMode::-webkit-scrollbar-track {
  background: rgb(29, 35, 46);
}

body.darkMode::-webkit-scrollbar-thumb {
  background-color: rgb(20, 26, 37);
  border-radius: 6px;
  border: 3px solid rgba(255, 255, 255, 0.25);
}

body.darkMode::-webkit-scrollbar-thumb:active {
  background-color: rgb(5, 7, 22);
}
