@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Nunito;
  src: url(/fonts/Nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --primaryColor: white;
  --secondaryColor: rgb(55, 76, 194);
}

::selection {
  background-color: rgb(76, 92, 130);
  color: white;
}

html {
  height: 100%;
}

.darkMode {
  --primaryColor: #393e46;
  --secondaryColor: #222831;
}

.darkMode ::selection {
  background-color: rgb(255, 160, 160);
}

.darkMode a:hover {
  color: red;
}

.darkMode nav li a:hover {
  color: #ca3e47;
}

#darkModeButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.darkMode h2 {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Nunito;
  height: 100%;
  background-color: var(--primaryColor);
}

a {
  text-decoration: none;
  font-weight: bold;
}

nav {
  background-color: var(--secondaryColor);
  color: white;
  padding: 0 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  align-items: center;
  height: 68px;
  z-index: 10;
}

.nav-link-container {
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-right: 22px;
}

.nav-link-container li {
  display: inline-block;
  padding-left: 28px;
}

.nav-link-container li a {
  color: white;
}

.nav-link-container li a:hover {
  color: rgb(200, 200, 255);
  text-decoration: underline;
}

main {
  margin-top: 66px;
  text-align: center;
  background-color: var(--primaryColor);
}

footer {
  background-color: var(--secondaryColor);
  text-align: center;
  color: white;
  padding: 30px;
  bottom: 0;
}

@media only screen and (max-width: 500px) {
  .nav-link-container li {
    font-size: 20px;
  }
  .nav-logo {
    font-size: 30px;
  }
}

@media only screen and (max-width: 460px) {
  .nav-link-container li {
    font-size: 17px;
  }
  .nav-logo {
    font-size: 28px;
  }
}

@media only screen and (max-width: 430px) {
  .nav-link-container li {
    font-size: 15px;
    padding-left: 10px;
  }
  .nav-logo {
    font-size: 26px;
  }
}

@media only screen and (max-width: 350px) {
  .nav-link-container li {
    font-size: 14px;
    padding-left: 8px;
  }
  .nav-logo {
    font-size: 26px;
  }
}