.new-content {
  background-color: var(--secondaryColor);
  text-align: center;
  padding: 20px;
  color: white;
}

.new-content .new-img {
  margin: 15px;
  width: 350px;
}

.new-img {
  width: 90%;
  max-width: 450px;
  border-radius: 5px;
  margin: 20px, 0;
}

h2 {
  margin: 65px auto 0 auto;
}

.game-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding: initial;
}

.game-container li {
  max-width: 300px;
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  background-color: var(--secondaryColor);
  margin: 60px;
  display: inline-block;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: white;
}

.game-container li h3, .game-container li h6 {
  margin: 5px;
}

@media only screen and (max-width: 865px) {
  .game-container li {
    margin: 30px;
    width: 250px
  }
}

@media only screen and (max-width: 645px) {
  .game-container li {
    width: 300px;
  }
  .new-content img {
    width: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .new-content img {
    width: 250px;
  }
  .game-container li {
    width: 250px;
  }
}

@media only screen and (max-width: 345px) {
  .new-content img {
    width: 200px;
  }
}